body {
  background-color: #9390e6;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 50px;
}

.links {
  margin-top: 50px;
  display: flex;          
  flex-direction: column;  
  align-items: center;     
  gap: 8px;              
}


a {
  font-size: 20px;
  text-decoration: none;
  color: #231a9a;
  padding: 10px 20px;
  border: 2px solid #1a5e9a;
  border-radius: 8px;
  transition: 0.3s;
}

a:hover {
  background-color: #1a5e9a;
  color: rgb(28, 158, 194);
}

.back {
  display: inline-block;
  margin-top: 50px;
  font-size: 18px;
}
